---
// Home page CTA Section
// ------------
// Description: A centered call to action section that contains: a title, text, a user review snippet, a button and a image.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'

// - UI
import ChipNotification from '../../ui/ChipNotification.astro'
import { Image } from 'astro:assets'
import Button from '../../ui/Button.astro'
import AvatarGroup from '../../ui/AvatarGroup.astro'
import { Icon } from 'astro-icon/components'

// Content
// - Hero Image
import heroImage from '../../../assets/hero-01.png'
// - Avatars
import user1 from '../../../assets/avatars/avatar-01.webp'
import user2 from '../../../assets/avatars/avatar-02.webp'
import user3 from '../../../assets/avatars/avatar-03.webp'
const avatars = [
	{ image: { src: user1.src, alt: 'user name' }, link: '/' },
	{ image: { src: user2.src, alt: 'user name' }, link: '/' },
	{ image: { src: user3.src, alt: 'user name' }, link: '/' }
]
// - Props
type Props = {
	data: {
		chipNotification: {
			highlight: string
			text: string
		}
		title: string
		text: string
		actions: {
			white: string
			primary: string
		}
	}
}
const { data } = Astro.props
---

<Section id="intro" padding="top" classes="bg-neutral-50 dark:bg-neutral-900">
	<Row>
		<Col span="2" />
		<Col span="8" align="center">
			<ChipNotification radius="rounded-full" classes="mb-6">
				<strong>{data.chipNotification.highlight}</strong>
				{data.chipNotification.text}
				<AvatarGroup avatars={avatars} radius="rounded-full" slot="button" />
			</ChipNotification>
			<h1 set:html={data.title} />
			<p class="pb-0 text-lg" set:html={data.text} />
			<div class="flex-col:lg:flex-row mb-6 flex justify-center gap-4">
				<Button size="lg" modal="video" size="lg" classes="w-44" style="white" variation="outline">
					{data.actions.white}
					<Icon name="play-circle" class="size-6" />
				</Button>
				<Button size="lg" link="/"> {data.actions.primary} </Button>
			</div>
		</Col>
		<Col span="2" />
		<Col span="2" />
		<Col span="8">
			<div
				class="hidden aspect-[8/5] w-full overflow-hidden rounded-t-xl shadow-2xl shadow-neutral-950/10 will-change-transform lg:block dark:shadow-neutral-950"
			>
				<script
					type="module"
					src="https://unpkg.com/@dotlottie/player-component@1.0.0/dist/dotlottie-player.js"
				></script>
				<dotlottie-player autoplay loop mode="normal" src="/animations/foxi.lottie"
				></dotlottie-player>
			</div>
			<div class="lg:hidden">
				<Image
					src={heroImage}
					alt="Foxi. The tailwind astro theme"
					class="translate-y-8 shadow-2xl shadow-neutral-200 dark:shadow-neutral-950"
					format="webp"
				/>
			</div>
		</Col>
		<Col span="2" />
	</Row>
</Section>
