---
// Imports
const { frontmatter } = Astro.props

//Layout Components
import Layout from './Layout.astro'

// Section Components
import BlogPostHero from '../components/blocks/blog/BlogPostHero.astro'

// Content
// - SEO
const SEO = {
	title: `${frontmatter.title} | Foxi`,
	description: `${frontmatter.description}`
}
// - Props
const { lang } = Astro.props
---

<Layout title={SEO.title} description={SEO.description} lang={lang}>
	<BlogPostHero
		tags={frontmatter.badges}
		title={frontmatter.title}
		author={frontmatter.author}
		publishDate={frontmatter.pubDate.toLocaleDateString(lang, {
			year: 'numeric',
			month: 'long',
			day: 'numeric'
		})}
		lang={lang}
	/>
	<div class="collection-body basic-text basic-text--lg">
		<slot />
	</div>
</Layout>

<style>
	.collection-body {
		@apply mx-auto max-w-3xl px-6 py-12 lg:py-24;
	}
</style>
