---
// Pricing plabs Section
// ------------
// Description: A section with a list of 3 pricing plans with toggle to switch between monthly and annual pricing.
// Properties:
// - classes: Additional classes to be added to the section
// - pricingData: An array of pricing data with header, body, footer, style properties

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import PricingTable from '../../ui/pricing-tables/PricingTablePlan.astro'
import Toggle from '../../ui/forms/form-elements/Toggle.astro'
import PricingChange from '../../scripts/PricingPlanChange.astro'

// Content
// - Props
type TableData = {
	header: {
		title: string
		subtitle: string
		currency: string
		price: string
		priceLabel: string
		priceMonthly?: string
		priceLabelMonthly?: string
		buttonName: string
		buttonLink: string
	}
	body?: {
		listItems: Array<{
			text: string
			icon?: string
			label?: string
		}>
	}
	footer?: {
		buttonName: string
		buttonLink: string
	}
	style: 'basic' | 'featured'
}

type Props = {
	pricingTableData: any
	billing: {
		option1: string
		option2: string
	}
}
const { billing, pricingTableData } = Astro.props
const pricingData: TableData[] = pricingTableData.basic as TableData[]
---

<Section>
	<Row>
		<Col span="12" align="center" classes="flex items-center justify-center gap-4 mb-12">
			<span id="monthlyLabel" class="font-semibold text-neutral-400 transition-colors">
				{billing.option1}
			</span>
			<Toggle id="pricingType" label="pricing" showLabel={false} checked={true} />
			<span
				class="font-semibold text-neutral-400 text-primary-500 transition-colors"
				id="annualLabel"
			>
				{billing.option2}
			</span>
		</Col>
		{
			pricingData.map((item, key) => (
				<Col span="4">
					<PricingTable data={item} id={`plan-${key}`} />
				</Col>
			))
		}
	</Row>
</Section>
<PricingChange />
